@import url("https://fonts.googleapis.com/css?family=Montserrat+Alternates:100,100i,200,200i,300,300i,400,900,900i|Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Rajdhani:300,400,500,600,700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", Helvetica, sans-serif;
}
/*************************************** 
            Gloabl Styles
  **************************************/
a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  margin: 0.5rem;
}

main {
  // position relative is required for this tag to apply overflow in mobile browsers
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

img {
  width: 100%;
}

.bg-primary {
  background-color: #563d7c !important;
}

.txt-white {
  color: #fff !important;
}

.txt-black {
  color: #2c2929 !important;
}

/************************************** 
            Buttons
**************************************/
.btn {
  border: none;
  outline: none;
  border-radius: 4px;
  text-align: center;
  background-color: #ada2bd;
}
.btn-primary {
  background-color: #563d7c;
}

.btn-important {
  background-color: #f57b00;
  white-space: nowrap;
  display: block;
  padding: 0.1rem 1rem !important;
  &:hover {
    background-color: #d17a23;
    color: #f3f3f3;
  }
}

.btn-block {
  display: block;
}

/************************************** 
            navbar_container
**************************************/
// navbar_container Variables
$nav-height: 8vh;
$primary-color: #563d7c;
$primary-clr-dark: #312049;
$white: #f3f3f3;
$dd-line-height: 50px;

// Outer navbar_container wrapper
.navbar_container {
  background: $primary-color;
  padding: 0rem 1rem;
  height: $nav-height;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  z-index: 9;
  box-shadow: 0 0px 1px #f3f3f3;
  // changed
  font-size: 4.5vw;
}

@media screen and (min-width: 600px) and (max-width: 769px) {
  .navbar_container {
    // changed
    font-size: 2vw;
  }
}

.fixed_navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.navbar {
  display: flex;
  align-items: center;
  height: $nav-height;
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 42px;
    }
    a {
      color: $white;
    }
  }
  nav {
    .navbar_list {
      display: block;
      position: absolute;
      top: $nav-height;
      right: 0;
      width: 0vw;
      min-height: calc(100vh - 8vh);
      background-color: $primary-color;
      transition: all 0.1s ease-out;
      text-align: center;
      list-style-type: none;
      // incase of overflow
      max-height: calc(100vh - 8vh);
      overflow-y: auto;
      a {
        color: #f8f6fa;
        line-height: $nav-height;
        padding: 1.25rem 0;
        white-space: nowrap;
        &:hover {
          color: $white;
        }
      }
      li.active {
        background-color: #513677;
        a {
          color: #fff;
        }
      }
      li:hover a {
        // magic
        color: $white;
      }
      .dropdown {
        .dropdown_list {
          a {
            color: #0a0a0a;
            line-height: $dd-line-height; // important
          }
          li {
            &:hover {
              background-color: #f8f9fa;
            }
          }
        }
      }
    }
    .toggle_navbar {
      width: 50vw;
    }
  }
}

.nav_toggler {
  position: absolute;
  /* border: 1px solid red; */
  right: 12px;
  top: 11px;
  cursor: pointer;
  padding: 18px 40px 21px 6px;
  box-shadow: inset 1px 1px 3px #a682dd;
  border-radius: 3px;
  span,
  span:before,
  span:after {
    cursor: pointer;
    border-radius: 15px;
    height: 4px;
    width: 35px;
    background: $white;
    position: absolute;
    display: block;
    content: "";
    transition: all 300ms ease-in-out;
    box-shadow: inset 0 0 3px #444;
  }
  span:before {
    top: -10px;
  }
  span:after {
    bottom: -10px;
  }
  &.active {
    box-shadow: none;
  }
  &.active span {
    background-color: transparent;
    box-shadow: none;
    &:before,
    &:after {
      top: 0;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
}

/******************************* 
        Nav Dropdowns
*******************************/
.dropdown {
  position: relative;
  overflow: hidden;
  .dropdown_list {
    width: 90%;
    margin: 0 auto;
    border-radius: 4px;
    max-height: 0;
    background-color: #ffffff;
    list-style: none;
    white-space: nowrap;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 2px 1px #777;
  }
  .show_dropdown {
    max-height: 350px;
  }
}

@import "showcase";
@import "skillset";

/******************************************************************** 
                Responsive Nav
********************************************************************/
@media screen and (min-width: 768px) {
  /* button */
  .btn {
    padding: 0.5rem 1rem;
  }

  .btn-important {
    display: inline;
    padding: 0.5rem 0.8rem !important;
  }

  /* others */
  .nav_toggler {
    display: none;
  }
  .navbar_container {
    padding: 0 0.5rem;
    font-size: 1.25vw;
  }
  .navbar {
    display: grid;
    grid-template-columns: 1fr 3fr;
    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 1rem;
      width: 100%;
      img {
        width: 45px;
      }
    }
    nav {
      .navbar_list {
        position: static;
        display: flex;
        justify-content: center;
        min-height: $nav-height;
        flex-direction: row;
        height: auto;
        width: auto;
        top: 0;
        // fixing overflow back, in bigger screen
        max-height: $nav-height;
        overflow-y: initial;
        li {
          a {
            padding: 0.75rem;
          }
        }
      }
    }
  }
  /* dropdown */
  .dropdown {
    position: relative;
    overflow: initial;
    white-space: nowrap;
    .dropdown_list {
      position: absolute; // magical importance
      display: none;
      background-color: #ffffff;
      border: 1px solid #d9d9d9;
      border-radius: 3px;
      margin-top: -7px;
      left: -0.3rem;
      width: auto;
    }
    .show_dropdown {
      display: block;
      height: auto;
    }
  }
}
