@import url("https://fonts.googleapis.com/css?family=Montserrat+Alternates|Montserrat:400,500,500i,600,700|Poppins|Rajdhani&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", Helvetica, sans-serif;
}

main {
  // position relative is required for this tag to apply overflow in mobile browsers
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  padding-top: 60px; /* to fill space taken by fixed-navbar */
}

@import "button";

/************************************** 
            nav-container
**************************************/
// nav-container Variables
$nav-height: 60px;
$nav-background: #563d7c;
$dd-line-height: 50px;
$nav-link-color: #c9c1d6;

// Outer nav-container wrapper
.fixed-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.navigation-bar {
  /* mobile first design */
  display: flex;
  align-items: center;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  background: $nav-background;
  padding: 0rem 1rem;
  height: $nav-height;
  .logo {
    img {
      width: 42px;
      max-width: 100%;
    }
  }
  .navbar {
    .navbar-list {
      margin: 0;
      padding: 0;
      display: block;
      position: absolute;
      top: $nav-height;
      right: 0;
      width: 0vw;
      min-height: calc(100vh - 60px);
      background-color: $nav-background;
      transition: width 0.3s ease-out;
      text-align: center;
      list-style-type: none;
      // incase of overflow
      max-height: calc(100vh - 60px);
      overflow-y: auto;
      li {
        .navbar-link {
          display: inline-block;
          color: $nav-link-color;
          padding: 0;
          line-height: $nav-height;
          width: 100%;
          height: 100%;
          min-width: 100%;
          text-decoration: none;
          white-space: nowrap;
          &:hover {
            color: #f3f3f3;
          }
        }
        .navbar-btn {
          height: $nav-height;
          padding: 0;
        }
        &.active {
          background-color: #513677;
          .navbar-link {
            color: #fff;
          }
        }
      }
      .dropdown {
        .dropdown-list {
          margin: 0;
          padding: 0;
          margin-top: -0.5rem;
          a {
            color: #0a0a0a;
            line-height: $dd-line-height; // important
            &:hover {
              background-color: #cccccc41;
            }
          }
        }
      }
    }
    .toggle_navbar {
      width: 50vw;
    }
  }
}

.nav-toggler {
  position: absolute;
  /* border: 1px solid red; */
  right: 12px;
  top: 12px;
  cursor: pointer;
  padding: 18px 40px 21px 6px;
  box-shadow: inset 1px 1px 3px #a682dd;
  border-radius: 3px;
  span,
  span:before,
  span:after {
    cursor: pointer;
    border-radius: 15px;
    height: 4px;
    width: 35px;
    background: #f3f3f3;
    position: absolute;
    display: block;
    content: "";
    transition: all 300ms ease-in-out;
    box-shadow: inset 0 0 3px #444;
  }
  span:before {
    top: -10px;
  }
  span:after {
    bottom: -10px;
  }
  &.active {
    box-shadow: none;
  }
  &.active span {
    background-color: transparent;
    box-shadow: none;
    &:before,
    &:after {
      top: 0;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
}

/******************************* 
        Nav Dropdowns
*******************************/
.dropdown {
  position: relative;
  overflow: hidden;
  .dropdown-list {
    width: 90%;
    margin: 0 auto !important;
    border-radius: 4px;
    max-height: 0;
    background-color: #ffffff;
    list-style: none;
    white-space: nowrap;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 2px 1px #777;
    a {
      display: inline-block;
      text-decoration: none;
      width: 100%;
    }
  }
  .show_dropdown {
    max-height: 350px;
  }
}
/******************************************************************** 
                Responsive Nav
********************************************************************/
@media screen and (min-width: 768px) {
  /* others */
  .nav-toggler {
    display: none;
  }
  .nav-container {
    padding: 0 0.5rem;
  }
  .navigation-bar {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 0 0.5rem;

    .logo {
      /* center logo */
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 1rem;
      width: 100%;
      img {
        width: 45px;
        max-width: 100%;
      }
    }
    .navbar {
      .navbar-list {
        position: static;
        display: flex;
        justify-content: center;
        min-height: $nav-height;
        flex-direction: row;
        height: auto;
        width: auto;
        top: 0;
        // fixing overflow back, in bigger screen
        max-height: $nav-height;
        overflow-y: initial;
        li {
          .navbar-link {
            line-height: $nav-height;
            padding: 0 0.75rem;
          }
          .navbar-btn {
            border-radius: 0;
          }
        }
      }
    }
  }
  /* dropdown */
  .dropdown {
    position: relative;
    overflow: initial;
    white-space: nowrap;
    .dropdown-list {
      position: absolute; // magical importance
      display: none;
      background-color: #ffffff;
      border: 1px solid #d9d9d9;
      border-radius: 3px;
      margin-top: -0.5rem !important;
      margin-left: -25% !important;
      left: -0.3rem;
      width: auto;
      min-width: 180px;
    }
    .show_dropdown {
      display: block;
      height: auto;
    }
  }
}
